<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>cool website bro</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <style>
        .well {
            background: #fff;
            border: 1px solid #333;
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        }
        </style>
    </head>
    <body style="background: #64788c;">
        <div class="container">
            <div class="well" style="margin-top: 20px;">
                <h1>cool website bro <small>we like to php</small></h1>
            </div>
            <div class="well">
                <h2>portfolio</h2>
                <ul class="unstyled">
                    <li><a target="_blank" href="#">www.lorem.com</a></li>
                    <li><a target="_blank" href="#">www.lorem.com</a></li>
                    <li><a target="_blank" href="#">www.lorem.com</a></li>
                </ul>
            </div>
            <div class="well">
                <h2>contact us</h2>
                <blockquote>
                    <p>
                        5803, rue Sherbrooke Est<br>
                        Montréal (Québec)&nbsp;&nbsp;H1N 1C1
                    </p>
                    <small><a target="_blank" href="http://www.toponymie.gouv.qc.ca/ct/normes-procedures/regles-ecriture/comment-ecrire-adresse.html">Commission de toponymie</a></small>
                </blockquote>
                <p>
                    514 826-5695<br>
                    <a target="_blank" href="mailto:#">alexisjoubert@groupemsi.com</a>
                </p>
            </div>
        </div>
    </body>
</html>
